<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="car" class="com.helloworld.how.Car">


	<constructor-arg type="String" value="Opel" name="types"></constructor-arg>
	<constructor-arg type="int" value="1" name="id"></constructor-arg>
	<property name="color" ref="color"></property>
	</bean>
	<bean id="color" class="com.helloworld.how.Color">
		<constructor-arg name="color" value="red" type="String"></constructor-arg>
		<constructor-arg name="special" type="String"
			value="fire mark">
		</constructor-arg>
	</bean>
</beans>
